<h2>Autenticação</h2>
<form name="logonForm" [formGroup]="logonForm" (ngSubmit)="authenticate()" class="form-group">
  <table>
    <tbody>
    <tr>
        <td>
            Username:
        </td>
        <td>
            <input type="text" name="username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': hasUserNameError() }"/>
        </td>
    </tr>
    <tr>
        <td>
            Password:
        </td>
        <td>
            <input type="password" name="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': hasPasswordError() }"/>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button type="submit" class="btn btn-primary">Sign In</button>
        </td>
    </tr>
    </tbody>
  </table>
</form>