<h2>Autenticação</h2>
<form [formGroup]="logonForm" (ngSubmit)="authenticate()">
  <table>
    <tbody>
    <tr>
        <td>
            Username:
        </td>
        <td>
            <input type="text" name="username" formControlName="username"/>
        </td>
    </tr>
    <tr>
        <td>
            Password:
        </td>
        <td>
            <input type="password" name="password" formControlName="password"/>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button type="submit">Sign In</button>
        </td>
    </tr>
    </tbody>
  </table>
</form>